#container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}


button {
    font-size: 12px;
}


/* styling for chosen layout */
.input-stacked, .input-sidebyside,
.output-stacked, .output-sidebyside {
    margin: 2vh 0;
}
.input-stacked .heading, .output-stacked .heading,
.input-sidebyside .heading, .output-sidebyside .heading{
    display: block;
    margin-bottom: 2vh;
    background-color: #ccc;
}

.input-stacked textarea, .output-stacked textarea {
    width: 75vw;
    height: 38vh;
    resize: none;
}
.input-sidebyside, .input-sidebyside textarea, .output-sidebyside, .output-sidebyside textarea  {
    width: 42vw;
    display: inline-block;
    vertical-align: top;
    resize: none;
}

.input-sidebyside textarea, .output-sidebyside textarea  {
    height: 35vh;
}
.output-sidebyside {
    margin-left: .5vw;
}

.left, .right {
    display: inline-block;
    width: 42vw;
}
.link-count, .link-area {
    width: 85vw;
    display: block; 
    text-align: left;
}
.link-count{
    margin: 6vh auto 0 auto;
    height: 15px;
    font-size: 13px;
    line-height: 13px;
    font-weight: bold;
}
.link-area {
    overflow-y: scroll;
    height: 38vh;
    margin: 1vh auto 0 auto;
    font-size: 13px;
    word-break: break-word;
}

.link-area>div:nth-child(odd){
    background-color: lightgray;
    border: 1px solid #000;
}

.link {
    text-align: center;
}

.link > div > div > input {
    width: 70vw;
}

.link-container {
    margin: 0 auto;
    width: 78vw;
    text-align: left;
    padding: 17px 0;
}
.currentLink {
    padding-bottom: 12px;
}
.currentLink > span {
    margin-right: 5px;
}
.newLink > span {
    margin-right: 21px;
}
